<div {{ attributes }}  class="question-container"  data-poll="load">

    {% if question is not null %}
        <div class="question {{ question.current ? 'question--current' }}">
            <span class="username">{{ question.username }}</span>
            <p class="content">{{ question.content }}</p>
        </div>
    {% endif %}
</div>
