@font-face {
  font-family: Thunder;
  src: url(../fonts/Thunder-BoldLC.ttf);
}

* {
  box-sizing: border-box;
}

body:has( .chat) {
  padding: 0;
  margin: 0;
  width: 500px;
  height: 585px;
  background: rgb(48,79,133);
  background: linear-gradient(90deg, rgba(48,79,133,1) 0%, rgba(15,32,68,1) 100%);
  border-radius: 16px;
  position: relative;
}

.chat {
  font-family: Thunder, sans-serif;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  height: 550px;
  padding-right: 1rem;

  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .username {
      padding: 0.3rem 0.6rem;
      background: #FF8D74;
      color: #FFF;
      font-size: 1.5rem;
      margin: 0;
      border-radius: 5px;
      flex-shrink: 0;
      z-index: 2;
      transform: rotate(-1deg);
      width: fit-content;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .content {
      z-index: 1;
      padding: .5rem 1rem;
      background: #FFF;
      color: #00153F;
      font-size: 1.5rem;
      border-radius: 5px;
      animation-duration: 2s;
      margin: -.25rem 0 0 1rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
}

body:has( .question-container) {
  padding: 0;
  margin: 0;
  width: 1920px;
  height: 1080px;
}

.question-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .question {
    position: absolute;
    left: calc(50% - 480px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: Thunder, sans-serif;
    width: 960px;
    aspect-ratio: 2400/960;
    background: url(../images/background.png);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem;
    border-radius: 20px;
    overflow: hidden;
    gap: 2rem;
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    .username {
      padding: .5rem 1rem;
      background: #FF8D74;
      color: #FFF;
      font-size: 2rem;
      margin: 0;
      border-radius: 5px;
      flex-shrink: 0;
    }

    .content {
      padding: .5rem 1rem;
      background: #FFF;
      color: #00153F;
      font-size: 2rem;
      border-radius: 5px;
      animation-duration: 2s;
      margin: 0;
    }

    &.question--current {
      @keyframes slide-down {
        0% {
          top: calc(-960px * 1080 / 2400);
        }

        80% {
          top: calc(50% - (960px * 1080 / 2400) / 2 + 50px);
        }

        100% {
          top: calc(50% - (960px * 1080 / 2400) / 2);
        }
      }

      @keyframes slide-corner {
        0% {
          top: calc(50% - (960px * 1080 / 2400) / 2);
        }

        100% {
          width: 480px;
          top: 2rem;
          left: calc(100% - 480px - 2rem);
          padding: .75rem 1.5rem;
          gap: 1rem;
        }
      }

      animation-name: slide-corner;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;

      .username {
        font-size: 1.5rem;
      }

      .content {
        font-size: 1.5rem;
      }
    }
  }
}


